<footer class="govgr-footer" role="contentinfo">
  <div class="govgr-width-container">
    <div class="govgr-footer__meta">
      <div class="govgr-footer__meta-item govgr-footer__meta-item--grow">
        <div class="govgr-footer__content">
          <div class="govgr-footer__content--logos">
            <img src="assets/images/dtc_logo.png" width="50px" height="auto" alt="dtc logo" />
            &nbsp;&nbsp;
            <img class="govgr-footer__logo" src="assets/images/government-logo2.svg" alt="government logo" />
          </div>
          <p class="govgr-footer__licence-description">
             Υλοποίηση από το 
            <a href="http://dtclab.civil.ntua.gr/home" target="_blank" rel="noreferrer noopener" class="govgr-link">Εργαστήριο Ψηφιακής Τεχνολογίας για Τεχνικά Έργα<span class="govgr-visually-hidden">(ανοίγει σε καινούρια καρτέλα)</span></a> για το
            <a href="https://www.ypes.gr/en/" target="_blank" rel="noreferrer noopener" class="govgr-link"> Υπουργείο Εσωτερικών <span class="govgr-visually-hidden">(ανοίγει σε καινούρια καρτέλα)</span></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
