<p>Φορείς με μονάδες Ελληνικού Δημοσίου</p>

<div style="height: 100vh">
  <ag-grid-angular
    style="height:100%;width:100%"
    [class]="themeClass"
    [rowData]="rowData$ | async"
    [columnDefs]="colDefs"
    [defaultColDef]="defaultColDef"
    [pagination]="true"
    [paginationPageSize]="50"
    [overlayLoadingTemplate]="overlayLoadingTemplate"
    [overlayNoRowsTemplate]="overlayNoRowsTemplate"
    [masterDetail]="true"
    [detailCellRendererParams]="detailCellRendererParams"
    [isExternalFilterPresent]="isExternalFilterPresent"
    [doesExternalFilterPass]="doesExternalFilterPass"
    (gridReady)="onGridReady($event)"
    >
  </ag-grid-angular>
</div>
<!-- <div>
  @for (data of test$ | async; track data.preferredLabel; let idx = $index) {
    {{ idx+1 }}. {{ data.preferredLabel }}<br>
  }
<div> -->