<p>Φορείς Ελληνικού Δημοσίου</p>
<div style="height: 100vh">
  <ag-grid-angular
    style="width: 100%; height: 100%;"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [autoGroupColumnDef]="autoGroupColumnDef"
    [groupDefaultExpanded]="groupDefaultExpanded"
    [overlayLoadingTemplate]="overlayLoadingTemplate"
    [overlayNoRowsTemplate]="overlayNoRowsTemplate"
    [pagination]="true"
    [paginationPageSize]="50"
    [rowData]="rowData$ | async"
    [class]="themeClass"
    (gridReady)="onGridReady($event)"
    rowSelection="multiple"
    (selectionChanged)="onSelectionChanged($event)"
    
    ></ag-grid-angular>
</div>
<!-- [isRowSelectable]="isRowSelectable"  -->
<!-- <div>
  @for (data of rowData$ | async; track data.preferredLabel; let idx = $index) {
    {{ idx+1 }}. {{ data.preferredLabel }}<br>
  }
<div> -->
