<header class="govgr-header">
  <div class="govgr-header__container">
    <div class="govgr-header__content">
      <a href="https://www.gov.gr/">
        <img class="govgr-header__logo" src="https://www.gov.gr/gov_gr_logo.svg" alt="gov.gr logo" />
      </a>  
      <a href="https://www.gov.gr/">
        <img class="govgr-header__secondary-logo" src="https://dilosi.services.gov.gr/minedu-logo.svg" alt="minedu logo" />
      </a>
      <!-- <a href="/" class="govgr-header__title">Service name</a> -->
    </div>
  </div>
</header> 
<nav class="govgr-nav govgr-nav--horizontal">
  <div class="govgr-nav__list">
    <a routerLink="/home" class="govgr-nav__list-item-link govgr-nav__list-item-link--active">Αρχική</a>
    <a routerLink="law" class="govgr-nav__list-item-link">Διατάξεις</a>
    <a routerLink="/responsibilities" class="govgr-nav__list-item-link">Αρμοδιότητες Φορέων/Μονάδων</a>
    <a routerLink="/contact" class="govgr-nav__list-item-link">Επικοινωνία</a>
  </div>
</nav>